*{
  margin: 0;
  padding: 0;
}
html{
  direction: rtl;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
/* TO CHANGE THE SELECT COLOR */

.MuiOutlinedInput-notchedOutline{
  border-color: white !important;
}
.MuiSvgIcon-root{
  color: white !important;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;

}
.overlay{
  border-image: fill 0
  linear-gradient(#0003,#000);
  height: "100vh";
}
.background{
  height:"100vh";
  width:"100%";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}